body {
    background-image: url('/DBMS Interface/images/port-1845350_1280.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
}
.navbar {
    background-color: #343a40;
}
.navbar-brand {
    color: #ffffff;
}
.cover-container {
    max-width: 42em;
    margin: auto;
    text-align: center;
    padding: 2rem;
    background-color: rgba(52, 58, 64, 0.8);
    color: #fff;
    border-radius: 10px;
    margin-top: 80px;
}
.middle-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 2rem 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.feature {
    margin-bottom: 30px;
}
footer {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.testimonial {
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial blockquote {
    position: relative;
    padding-left: 1.5rem;
    font-style: italic;
}

.testimonial .blockquote-footer {
    color: #e9ecef;
    position: relative;
    font-style: normal;
    display: block;
    margin-top: 10px;
}

.testimonial .blockquote-footer::before {
    content: '\2014 \00A0'; 
}

.testimonial cite {
    font-weight: bold;
    font-style: normal;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
    color: #fff;
}
.contact-form input, .contact-form textarea, .contact-form button {
    margin-top: 10px;
}

.btn-custom {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px; 
    border: none;
    transition: all 0.3s; 
    margin: 0 10px; 
}
.btn-primary-custom {
    background-color: #007bff;
    color: #fff;
}
.btn-secondary-custom {
    background-color: #6c757d;
    color: #fff;
}
.btn-primary-custom:hover, .btn-secondary-custom:hover {
    background-color: #0056b3; 
    color: #ffffff;
    transform: scale(1.1); 
    box-shadow: 0 8px 15px rgba(0,0,0,0.3); 
}